{% extends 'users/users_base.html' %}

{% block users_content %}
<div class="container user_info">
<h5><a href="{% url 'users:profile' this_user.pk %}">{{this_user}}</a>'s  comments:</h5>

<ol>
  {% for comment in this_user.comment_set.filter %}
    {% if comment.active %}
    <li><a href="{% url 'posts:detail' comment.post.slug %}">
      {{comment.text|linebreaks}}</a></li>
    {% else %}
    <i><li>Comment awaiting approval</li></i>
    {% endif %}

  {% endfor %}

</ol>
</div>
{% endblock %}
